<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ddd_main/app/static/app/css/base.css">

    <!--Google Fonts - spline sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">

    <!--Google Fonts - black han sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<body>
    <header class="global-header">
        <div class="global-header logo">
            <img src="/ddd_main/app/static/app/assets/logo_dom_de_deus.png" alt="logo-dom-de-deus" height="200" width="180">
        </div>

        <div class="global-header main-title">
            <p>Instituto</p>
            <h1>Dom de Deus</h1>
        </div>

        <div class="global-header social-shares">
            <div class="social-shares header">
                <p class="social-shares follow-us">Siga-nos: </p>
                <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/ddd_main/app/static/app/assets/instagram.png" alt="logo do instagram, click para seguir-nos"></a><!--Insta-->
                <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/ddd_main/app/static/app/assets/facebook.png" alt="logo do facebook, click para seguir-nos"></a><!--FB-->
                <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares youtube-social" src="/ddd_main/app/static/app/assets/youtube.png" alt="logo do youtube, click para seguir-nos"></a><!--YT-->
            </div>          
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Institucional</a></li>
                <li><a href="#">Programas e Projetos</a></li>
                <li><a href="#">Transparência</a></li>
                <li><a href="#">Seja Voluntário</a></li>
                <li><a href="#">Loja</a></li>
                <li><a href="#">Patrocínio</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Apoie-nos</a></li>
            </ul>
        </nav>

    </header>

    <main class="global-content">
        <div>

        </div>
    </main>

    <footer class="global-footer">

        <div class="global-footer qrcode-donate">
            <h1>Doe:</h1>
            <img src="/ddd_main/app/static/app/assets/qr_donation.png" alt="qr code para doacao" height="200" width="180">
        </div>

        <div class="global-footer contact-us">
            <h1>Contate-nos:</h1>
            <div id="contacts">
                <img src="/ddd_main/app/static/app/assets/whatsapp_Vector.png" alt="logo do whatsapp"><span> +55 (81) 8602-2187</span>
                <img src="/ddd_main/app/static/app/assets/mail_vector.png" alt="logo de um envelope"><span>institutodomdedeus@gmail.com</span>
            </div>
            <p>Rua Manoel Gomes, n° 66, Cajueiro, Vitória de Santo Antão-PE <br>
            <span style="font-weight: bold;">Promoção social de crianças, adolescentes e suas famílias através da educação, cultura e geração de renda.</span><br>
            Atendimento ao público: segunda a sexta-feira das 9h às 17h.
            </p>
        </div>

        <div class="global-footer social-shares">
            <div class="social-shares footer">
                <p>Siga-nos: </p>
                <div class="social-shares icons" style="padding: 0;">
                    <a href="https://www.instagram.com/institutodomdedeus/" target="_blank"><img class="social-shares instagram-social" src="/ddd_main/app/static/app/assets/instagram _footer.png" alt="logo do instagram, click para seguir-nos" style="padding: 0;"></a><!--Insta-->
                    <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares facebook-social" src="/ddd_main/app/static/app/assets/facebook_footer.png" alt="logo do facebook, click para seguir-nos" style="padding: 0;"></a><!--FB-->
                    <a href="https://www.facebook.com/proj.domdedeus/?locale=pt_BR" target="_blank"><img class="social-shares youtube-social" src="/ddd_main/app/static/app/assets/youtube_footer.png" alt="logo do youtube, click para seguir-nos" style="padding: 0;"></a><!--YT-->
                </div>
            </div>     
        </div>

    </footer>
</body>
</html>